<div class="container">
	
	<div>
		<h1>
			Set up your Reservation
		</h1>
	</div>

	<form name="reservationForm"
		  ng-submit="$ctrl.getCampsites( $ctrl.startDate, $ctrl.endDate )">

		<div class="reservation-form">
			<div class="date-btn-group">

				<div class="form-group">
					<input type="text" 
						   required 
						   name="startDate"
						   class="date-input" 
						   ng-pattern="/^\d{4}-\d{2}-\d{2}$/"
						   placeholder="Start Date" 
						   ng-model="$ctrl.startDate" />
					
					<input type="text" 
						   required 
						   class="date-input" 
						   ng-pattern="/^\d{4}-\d{2}-\d{2}$/"
						   placeholder="End Date" 
						   ng-model="$ctrl.endDate" />
				</div>
			</div>

			<div class="submit-btn-container">
				<button class="btn btn-primary" type="submit" ng-disabled="reservationForm.$invalid || reservationForm.$pristine">
					Submit
				</button>
			</div>
		</div>
	</form>

	<hr />
	
	<div class="campsites">

		<h3>
			Reservations Found:
		</h3>
		
		<div ng-repeat="campsite in $ctrl.campsites" class="row" ng-if="$ctrl.campsites.length">
			<div class="col-md-12 campsite">
				{{$index + 1}}.
				<span ng-bind="campsite.name"></span>
			</div>
		</div>
		<div ng-if="!$ctrl.campsites.length" class="row campsite col-md-12">
			No Campsites are available for the requested date range.
		</div>
	</div>
</div>