@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.reservation-form {
	margin-top: 30px;
}

.submit-btn-container {
	margin-top: 10px;
}

.date-btn-group {
	margin-top: 10px;
}

.date-input {
	margin-right: 15px;
}

.campsites {
	margin-top: 30px;
}
.campsite {
	margin-bottom: 10px;
	font-size: 18px;
	float: left;
}